<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ajinomoto-HopperRecord</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo&amp;display=swap">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/togglebtn.css">
</head>

<body style="font-family: Exo, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-xl bg-white shadow d-flex mb-4 static-top shadow"
        style="border-top: 5px solid var(--red);">
        <div class="container-fluid">
            <a class="navbar-brand float-left m-0" href="#">
                <img src="img/ajinomoto-1.svg" style="height: 1.75rem;">
                <br>
            </a>
            <a class="navbar-brand d-none d-print-inline-flex float-left d-sm-inline-flex d-md-inline-flex d-lg-inline-flex d-xl-inline-flex m-0"
                href="#" style="font-size: 12px;">
                Material Management System
            </a>
            <div class="dropdown d-lg-flex align-items-lg-center no-arrow m-0">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                    <span class="text-dark d-inline mr-2 text-gray-600 small" id="infoUser">Name Surname</span>
                    <span class="text-dark d-inline mr-2 text-gray-600 small" id="infoLoc">EX1</span>
                    <img class="border rounded-circle imgprofile" src="img/Import/201-user.svg" style="height: 2rem;">
                </a>
                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                    <a class="dropdown-item" href="/">
                        <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Home
                    </a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" id="buttonLogout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container d-flex d-xl-flex justify-content-center">
        <div class="card shadow w-100">
            <div class="card-header bg-dark">
                <h4 class="text-center text-light">Home</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row mx-xl-5 my-2">
                        <div class="col px-xl-5"><a
                                class="btn btn-primary d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center w-xl-100 homemenubtn"
                                role="button" style="height: 5em;" href="/hopper-record">ระบบบันทึกการเติมฮอปเปอร์</a>
                        </div>
                    </div>
                </form><img class="float-right" src="img/Picture2.png" style="width: 50%;">
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="cookie.js"></script>
    <script src="auth.js"></script>
</body>

</html>