html, body{
  overscroll-behavior: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.homemenubtn {
  background: rgb(0,66,92);
  font-size: 1.5rem;
}

/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-header {
  background: rgb(0,44,62);
  padding-top: 8px;
  padding-bottom: 8px;
}

.modal-title {
  color: lightblue;
}

